@import "../../common.scss";
header {
    background-color: $background_colour;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.nav-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // height: 100px;
    // line-height: 100px;
    gap: 20px;
    * {
        text-align: center;
        text-decoration: none;
        color: #fffffc;
        padding-bottom: 5px;
        border-bottom: 5px solid $background_colour;
        margin-bottom: 10px;
    }
    *:hover {
        border-bottom: 5px solid $highlight_colour !important;
        color: $highlight_colour !important;
    }
}